{% extends 'baseAdmin.html.twig' %}

{% block title %}Utilisateur- Vos infos
{% endblock %}

{% block body %}
{{parent()}}


<div class="col-6 p-5">
		<h2>Vos informations</h2>
        <p>Merci de remplir le formulaire</p>
		
				{{ form_start(formulaireInfo) }}

			<div class="">
			    {{ form_row(formulaireInfo.name) }}
       </div>

       <div class="">
			    {{ form_row(formulaireInfo.firstname) }}
       </div> 

       <div class="">
			    {{ form_row(formulaireInfo.address) }}
       </div> 

       <div class="">
			{{ form_row(formulaireInfo.job, {
			    label: 'Mot de passe'
			}) }}
			</div> 

       <div class="">
			{{ form_row(formulaireInfo.description) }}
			</div>

		<button  id="search_button" type="submit" class="mt-2">Ok</button>
				
				{{ form_end(formulaireInfo) }}
	
</div>
    
{% endblock %}

