{% extends 'baseAdmin.html.twig' %}

{% block title %}Connexion/Inscription{% endblock %}

{% block body %}

    <div class="col-12 text-center m-0 p-0 " id="connexion" >
		<h1 class="text-white" >Connexion/Inscription</h1>
	</div>
    
    {# Message Flash #}

    <form class="container mt-5 col-6" method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    
<div class="container">

    {# Bloc Connexion #}

    <h1 class="h3 mb-3 font-weight-normal">Merci de vous identifier</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <div class="p-0 m-0 mt-3 col-12">
        <button  id="search_button" type="submit" class="">OK</button>
	    <a href="{{path('app_register')}}"  class="mb-3 p-3 rounded float-right" style="text-decoration:none; background-color: #E8D525" >Pas encore de compte</a>
    </div>
    <div class="p-0 m-0 mt-3 col-12">
	    <a href="{{path('home')}}"  class="" ><b>Retour à l'accueil<b></a>
    </div>
    </div>
</div>               

</form>
{% endblock %}
