{% extends 'baseAdmin.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    {% for flashError in app.flashes('merci de vérifier vos mails') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="container mt-5 col-6">
		<a href="javascript:history.go(-1)" class="h2 m-1" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg></a>

		<h1>Merci de créer votre compte</h1>

    {{ form_start(registrationForm) }}

        <div class="">
            {{ form_row(registrationForm.name) }}
       </div>

       <div class="">
            {{ form_row(registrationForm.lastname) }}
       </div> 

       <div class="">
            {{ form_row(registrationForm.email) }}
       </div> 

       <div class="">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        </div> 

       <div class="">
        {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <div class="">
        {{ form_row(registrationForm.Roles) }}
        </div>  

        <button  id="search_button" type="submit" class="mt-2">Ok</button>

    {{ form_end(registrationForm) }}
    <div class="p-0 m-0 mt-3 col-12">
	    <a href="{{path('home')}}"  class="" ><b>Retour à l'accueil<b></a>
    </div>
    
</div>
{% endblock %}
