{% extends 'base.html.twig' %}

{% block title %}- Jobs{% endblock %}

{% block body %}

    <div class="col-12 text-center py-3 p-0 m-0">
		<h1 id="bkg_title">Nos emplois</h1>
	</div>

	{% for jobs in jobs %}

		<div class="col-12 jumbotron ">

			<div class="container">
				<div class="row ">
					<div class="col-3 bg-warning">
					</div>

					<div class="col-9 bg-info">{{ jobs.title }}

						<div class="row">
							<div class=" bg-danger">{{ jobs.company }}</div>
						</div>

						<div class="container">

							<div class="row mt-5">
								<div class="col  bg-warning">{{ jobs.url }}</div>
								<div class="col bg-success">{{ jobs.location }}</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>

	{% endfor %}

	<div class="container col-3">
   		 {{ knp_pagination_render(jobs) }}
	</div>
	
{% endblock %}
