{% extends 'base.html.twig' %}

{% block title %} Jobs{% endblock %}

{% block body %}
               
<!-- navBar -->
  
    {{ include ('nav.html.twig') }}


    <div class="col-12 text-center m-0 p-0 " style=" background-color: #39485E">
		<h1 class="text-white">Nos Emplois</h1>
	</div>
<!-- SearchBar -->

	<div class="jumbotron mt-4">

		<div class="container">
			{{ form_start(form) }}
			<div class="form-row align-items-end">
				<div class="col">
					{{ form_row(form.title) }}
				</div>
				<div class="col">
					{{ form_row(form.location) }}
				</div>
		</div>
		<div class="col-12 mt-4">
					<div class="form-group  mt-3 text-center">
	       				 <button  id="search_button" type="submit" class="">Ok</button>
					</div>
		</div>
		
			{{ form_end(form) }}
			<div class="mt-5 text-center p-3 border border-dark col-8 mx-auto">
				<a href="{{path('all_job')}}"
				class="mt-3 mb-3 p-3 h4" style="text-decoration:none" >Toutes nos offres</a>
            </div> 
		</div>
	</div>
		
 
					



	

{% endblock %}
