{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}

               
<!-- navBar -->
  
    {{ include ('nav.html.twig') }}

<div>
	<div class="container-fluid">
		<div class="row ">
			<div class="col-12 text-center m-0 p-0 ">

				<img class="contact_img" src="{{ asset('./image/contact.jpg') }}" alt="photo background" width="100%" >
					<div class="col-12 text-center m-0 p-0 " style=" background-color: #39485E">
						<h1 class="text-white" >Contactez nous</h1>
					</div>
			</div>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-4 offset-4">
				{{ form_start(formulaireContact) }}

			<div class="">
			    {{ form_row(formulaireContact.nom) }}
       </div>

       <div class="">
			    {{ form_row(formulaireContact.prenom) }}
       </div> 

       <div class="">
			    {{ form_row(formulaireContact.email) }}
       </div> 

       <div class="">
			{{ form_row(formulaireContact.objet, {
			    label: 'Objet'
			}) }}
			</div> 

       <div class="">
			{{ form_row(formulaireContact.message) }}
			</div>

		<button  id="search_button" type="submit" class="mt-2">Ok</button>
				
				{{ form_end(formulaireContact) }}
		</div>
	</div>


</div>

{% endblock %}
