<p>
	<b>Coordonées du contact:</b>
	<ul>
		<li>Nom: {{ nom }} </li>
		<li>Prenom: {{ prenom }} </li>
        <li>Email: {{ email }} </li>
	</ul>
</p>
<p>Objet: {{ objet }}</p>

<p>Message:</p>

<p>{{ message|nl2br }}</p>

    

