<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="site elles">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Viviane Janer">

		<title>
			elles -{% block title %}{% endblock %}
		</title>

		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('image/apple-icon-180x180.png') }}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('image/android-icon-192x192.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('image/favicon-96x96.png') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ asset('css/base.css') }}"> {% block stylesheets %}{% endblock %}
		</head>

    <body>
        	
     {% block body %}{% endblock %}

	<footer>
	<div class="  p-2 mt-5 " style=" background-color: #39485E">
        <p class="text-white text-center" >{{ copyright|raw }}</p>
    </div>
	</footer>    
    
      
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
