<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="site elles">
  		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">		
  		<meta name="author" content="Viviane Janer">

		<title>
			elles -{% block title %}Bienvenue sur Elles{% endblock %}
		</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ asset('css/base.css') }}"> 
    	<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    	<link rel="stylesheet" href="{{ asset('css/nav.css') }}"> 
		<link rel="stylesheet" href="{{ asset('css/animation.css') }}"> 

		
		{% block stylesheets %}{% endblock %}
	</head>

<body>
{# smooth scroll #}
<style>
html {
  scroll-behavior: smooth;
}
</style>
<header></header>


        {% block body %}
		
		
		
		{% endblock %}

 {{ include ('footer.html.twig') }}

		
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ asset('js/app.js') }}"></script>
</body>
       
</html>