{% block body %}

{# logo #}

   <div class="container-fluid" id="top" >
		<div class="row">
			<a href="{{ path('home') }}"><img id="main_logo" class="m-3" src="{{ asset('./image/logo.svg') }}" alt="logo" width="75%"></a>
		</div>
	</div>

{# navigation #}
	<nav class="fill"  >
	<div class="container col-md-12">

		<ul>
		  <li class="col-12 col-md-1"><a href="{{ path('home') }}">Accueil</a></li>
		  <li class="col-12 col-md-2"><a href="{{ path('article') }}">Nos Articles</a></li>
		  <li class="col-12 col-md-2"><a href="{{ path('job') }}">Nos Jobs</a></li>
		  <li class="col-12 col-md-2"><a href="{{ path('contact') }}">Nous contacter</a></li>
		  <li class="col-12 col-md-1"><a href="{{ path('about') }}">Nous</a></li>
		  

{# inscription ou espace de l'utilisateur #}

      {% if app.user %}
        <li class="col-12 col-md-2"><a href="{{ path('space') }}"><b>Mon espace</b></a></li>
      {% else %}
      <li class="col-12 col-md-2"><a href="{{ path('app_login') }}">Connexion</a></li>
      {% endif %} 
		</ul>
  	</nav>
</div>
{% endblock %}
