{% extends 'base.html.twig' %}

{% block title %} Articles{% endblock %}

{% block body %}
               
<!-- navBar -->
  
    {{ include ('nav.html.twig') }}


<div class="col-12 text-center m-0 p-0 " style=" background-color: #39485E">
		<h1 class="text-white" >Nos Articles</h1>
</div>

 <div class="row mt-5 mx-auto ">

    {% for article in articles %}

        <div class="row mt-3 justify-content-center ">

            <div class="col-3 mr-5 p-4 ">

                <div class="card" style="width: 18rem;">
                                <img class="d-block img-fluid w-100" src="{{ asset('image/articles/' ~ article.uploads) }}" 

                    <h5 class="card-title">{{ article.title }}</h5>

                        <div class="card-body">
                            <p class="card-text">{{ article.description}}</p>
                        </div>
                     <a href="{{ path('article_show', {id: article.id}) }}"
                           id="button_detail" class="rounded h4"  
                        style="text-decoration:none; background-color: #E8D525">+</a>
                    </div>

            </div>

        </div> 

        

    {% endfor %}

</div> 
<div class="container col-3">
   		 {{ knp_pagination_render(articles) }}
	</div>
{% endblock %}
